In [15]:
import argparse
import pandas as pd
import os

os.chdir('/Users/yanting/OneDrive/Desktop/2023_11_18 Hackathon/2023_11_18-SE-Europe-Data_Challenge')
os.chdir('./src')
import data_processing
os.chdir('/Users/yanting/OneDrive/Desktop/2023_11_18 Hackathon/2023_11_18-SE-Europe-Data_Challenge')

In [16]:
# print(list_csv_files("./data"))
df_dict = data_processing.load_data("./data")

In [17]:
df_dict_clean = data_processing.clean_data(df_dict)

==============================
load_SP
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'Load'], dtype='object')
==============================
gen_DE_B09
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_DE_B20
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
load_SE
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'Load'], dtype='object')
==============================
gen_NE_B20
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_NE_B18
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_NE_B19
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
load_DK
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'Load'], dtype='object')
==============================
gen_DE_B18
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_DE_B19
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
load_PO
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'Load'], dtype='object')
==============================
gen_DK_B01
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_HU_B01
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_HU_B15
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_SP_B16
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_SP_B02
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_IT_B04
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_IT_B10
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_SE_B16
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_IT_B11
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_IT_B05
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_UK_B19
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_SP_B03
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_SP_B17
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_HU_B14
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_DK_B16
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_HU_B16
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_HU_B02
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_SP_B01
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
gen_SP_B15
Index(['StartTime', 'EndTime', 'AreaID', 'UnitName', 'PsrType', 'quantity'], dtype='object')
==============================
test
Index(['Unnamed: 0', 'green_energy_SP', 'green_energy_UK', 'green_energy_DE',
       'green_energy_DK', 'green_energy_HU', 'green_energy_SE',
       'green_energy_IT', 'green_energy_PO', 'green_energy_NL', 'SP_Load',
       'UK_Load', 'DE_Load', 'DK_Load', 'HU_Load', 'SE_Load', 'IT_Load',
       'PO_Load'],
      dtype='object')

KeyError: 'StartTime'

In [ ]:
df_dict_prepro = data_processing.preprocess_data(df_dict)

In [7]:
df_test = df_dict["gen_NE_B20"].copy()
df_test

,StartTime,EndTime,AreaID,UnitName,PsrType,quantity
timestamp,,,,,,
2022-12-31 23:45:00+00:00,2022-12-31T23:45+00:00Z,2023-01-01T00:00+00:00Z,10YNL----------L,MAW,B20,3994
2023-01-01 00:00:00+00:00,2023-01-01T00:00+00:00Z,2023-01-01T00:15+00:00Z,10YNL----------L,MAW,B20,4031
2023-01-01 00:15:00+00:00,2023-01-01T00:15+00:00Z,2023-01-01T00:30+00:00Z,10YNL----------L,MAW,B20,4229
2023-01-01 00:30:00+00:00,2023-01-01T00:30+00:00Z,2023-01-01T00:45+00:00Z,10YNL----------L,MAW,B20,4254
2023-01-01 00:45:00+00:00,2023-01-01T00:45+00:00Z,2023-01-01T01:00+00:00Z,10YNL----------L,MAW,B20,4246
...,...,...,...,...,...,...
2023-01-01 22:30:00+00:00,2023-01-01T22:30+00:00Z,2023-01-01T22:45+00:00Z,NaN,MAW,B20,1325
2023-01-01 22:45:00+00:00,2023-01-01T22:45+00:00Z,2023-01-01T23:00+00:00Z,NaN,MAW,B20,1353
2023-01-01 23:00:00+00:00,2023-01-01T23:00+00:00Z,2023-01-01T23:15+00:00Z,NaN,MAW,B20,1389
2023-01-01 23:15:00+00:00,2023-01-01T23:15+00:00Z,2023-01-01T23:30+00:00Z,NaN,MAW,B20,1386
2023-01-01 23:30:00+00:00,2023-01-01T23:30+00:00Z,2023-01-01T23:45+00:00Z,NaN,MAW,B20,1402

In [8]:
df_test.dropna(subset=['AreaID'])

,StartTime,EndTime,AreaID,UnitName,PsrType,quantity
timestamp,,,,,,
2022-12-31 23:45:00+00:00,2022-12-31T23:45+00:00Z,2023-01-01T00:00+00:00Z,10YNL----------L,MAW,B20,3994
2023-01-01 00:00:00+00:00,2023-01-01T00:00+00:00Z,2023-01-01T00:15+00:00Z,10YNL----------L,MAW,B20,4031
2023-01-01 00:15:00+00:00,2023-01-01T00:15+00:00Z,2023-01-01T00:30+00:00Z,10YNL----------L,MAW,B20,4229
2023-01-01 00:30:00+00:00,2023-01-01T00:30+00:00Z,2023-01-01T00:45+00:00Z,10YNL----------L,MAW,B20,4254
2023-01-01 00:45:00+00:00,2023-01-01T00:45+00:00Z,2023-01-01T01:00+00:00Z,10YNL----------L,MAW,B20,4246
...,...,...,...,...,...,...
2023-01-01 22:30:00+00:00,2023-01-01T22:30+00:00Z,2023-01-01T22:45+00:00Z,10YNL----------L,MAW,B20,1164
2023-01-01 22:45:00+00:00,2023-01-01T22:45+00:00Z,2023-01-01T23:00+00:00Z,10YNL----------L,MAW,B20,1195
2023-01-01 23:00:00+00:00,2023-01-01T23:00+00:00Z,2023-01-01T23:15+00:00Z,10YNL----------L,MAW,B20,1193
2023-01-01 23:15:00+00:00,2023-01-01T23:15+00:00Z,2023-01-01T23:30+00:00Z,10YNL----------L,MAW,B20,1206
2023-01-01 23:30:00+00:00,2023-01-01T23:30+00:00Z,2023-01-01T23:45+00:00Z,10YNL----------L,MAW,B20,1304

In [4]:
# df_test.iloc[3,5] = 0
df_test.drop([4,5], axis=0, inplace=True)
print(df_test.head(10))

                  StartTime                  EndTime            AreaID  \
0   2022-12-31T23:45+00:00Z  2023-01-01T00:00+00:00Z  10Y1001A1001A83F
1   2023-01-01T00:00+00:00Z  2023-01-01T00:15+00:00Z  10Y1001A1001A83F
2   2023-01-01T00:15+00:00Z  2023-01-01T00:30+00:00Z  10Y1001A1001A83F
3   2023-01-01T00:30+00:00Z  2023-01-01T00:45+00:00Z  10Y1001A1001A83F
6   2023-01-01T01:15+00:00Z  2023-01-01T01:30+00:00Z  10Y1001A1001A83F
7   2023-01-01T01:30+00:00Z  2023-01-01T01:45+00:00Z  10Y1001A1001A83F
8   2023-01-01T01:45+00:00Z  2023-01-01T02:00+00:00Z  10Y1001A1001A83F
9   2023-01-01T02:00+00:00Z  2023-01-01T02:15+00:00Z  10Y1001A1001A83F
10  2023-01-01T02:15+00:00Z  2023-01-01T02:30+00:00Z  10Y1001A1001A83F
11  2023-01-01T02:30+00:00Z  2023-01-01T02:45+00:00Z  10Y1001A1001A83F

   UnitName PsrType  quantity
0       MAW     B02      3876
1       MAW     B02      3863
2       MAW     B02      3870
3       MAW     B02      3857
6       MAW     B02      3871
7       MAW     B02      3850
8       MAW     B02      3879
9       MAW     B02      3858
10      MAW     B02      3858
11      MAW     B02      3864

In [5]:
df_test['timestamp'] = df_test['StartTime'].astype('string')
df_test['timestamp'] = df_test['timestamp'].str.replace('T', ' ')
df_test['timestamp'] = df_test['timestamp'].str.replace('Z', '')

df_test['timestamp'] = pd.to_datetime(df_test['timestamp'], format="%Y-%m-%d %H:%M%z")

df_test.set_index('timestamp', inplace=True)
df_test

,StartTime,EndTime,AreaID,UnitName,PsrType,quantity
timestamp,,,,,,
2022-12-31 23:45:00+00:00,2022-12-31T23:45+00:00Z,2023-01-01T00:00+00:00Z,10Y1001A1001A83F,MAW,B02,3876
2023-01-01 00:00:00+00:00,2023-01-01T00:00+00:00Z,2023-01-01T00:15+00:00Z,10Y1001A1001A83F,MAW,B02,3863
2023-01-01 00:15:00+00:00,2023-01-01T00:15+00:00Z,2023-01-01T00:30+00:00Z,10Y1001A1001A83F,MAW,B02,3870
2023-01-01 00:30:00+00:00,2023-01-01T00:30+00:00Z,2023-01-01T00:45+00:00Z,10Y1001A1001A83F,MAW,B02,3857
2023-01-01 01:15:00+00:00,2023-01-01T01:15+00:00Z,2023-01-01T01:30+00:00Z,10Y1001A1001A83F,MAW,B02,3871
...,...,...,...,...,...,...
2023-01-01 22:30:00+00:00,2023-01-01T22:30+00:00Z,2023-01-01T22:45+00:00Z,10Y1001A1001A83F,MAW,B02,4656
2023-01-01 22:45:00+00:00,2023-01-01T22:45+00:00Z,2023-01-01T23:00+00:00Z,10Y1001A1001A83F,MAW,B02,4726
2023-01-01 23:00:00+00:00,2023-01-01T23:00+00:00Z,2023-01-01T23:15+00:00Z,10Y1001A1001A83F,MAW,B02,4706
2023-01-01 23:15:00+00:00,2023-01-01T23:15+00:00Z,2023-01-01T23:30+00:00Z,10Y1001A1001A83F,MAW,B02,4725
2023-01-01 23:30:00+00:00,2023-01-01T23:30+00:00Z,2023-01-01T23:45+00:00Z,10Y1001A1001A83F,MAW,B02,4731

In [6]:
start = pd.to_datetime(df_test.index.min())
end = pd.to_datetime(df_test.index.max())

interval_in_min = round(((end - start) / df_test.shape[0]).seconds / 60)

dates = pd.date_range(start=start, end=end, freq=f'{interval_in_min} Min')

In [7]:
df_test_reindexed = df_test.reindex(dates)
df_test_reindexed.head(10)

,StartTime,EndTime,AreaID,UnitName,PsrType,quantity
2022-12-31 23:45:00+00:00,2022-12-31T23:45+00:00Z,2023-01-01T00:00+00:00Z,10Y1001A1001A83F,MAW,B02,3876.0
2023-01-01 00:00:00+00:00,2023-01-01T00:00+00:00Z,2023-01-01T00:15+00:00Z,10Y1001A1001A83F,MAW,B02,3863.0
2023-01-01 00:15:00+00:00,2023-01-01T00:15+00:00Z,2023-01-01T00:30+00:00Z,10Y1001A1001A83F,MAW,B02,3870.0
2023-01-01 00:30:00+00:00,2023-01-01T00:30+00:00Z,2023-01-01T00:45+00:00Z,10Y1001A1001A83F,MAW,B02,3857.0
2023-01-01 00:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 01:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 01:15:00+00:00,2023-01-01T01:15+00:00Z,2023-01-01T01:30+00:00Z,10Y1001A1001A83F,MAW,B02,3871.0
2023-01-01 01:30:00+00:00,2023-01-01T01:30+00:00Z,2023-01-01T01:45+00:00Z,10Y1001A1001A83F,MAW,B02,3850.0
2023-01-01 01:45:00+00:00,2023-01-01T01:45+00:00Z,2023-01-01T02:00+00:00Z,10Y1001A1001A83F,MAW,B02,3879.0
2023-01-01 02:00:00+00:00,2023-01-01T02:00+00:00Z,2023-01-01T02:15+00:00Z,10Y1001A1001A83F,MAW,B02,3858.0

In [11]:
df_test_reindexed.interpolate(method='index').head(10)

,StartTime,EndTime,AreaID,UnitName,PsrType,quantity
2022-12-31 23:45:00+00:00,2022-12-31T23:45+00:00Z,2023-01-01T00:00+00:00Z,10Y1001A1001A83F,MAW,B02,3876.000000
2023-01-01 00:00:00+00:00,2023-01-01T00:00+00:00Z,2023-01-01T00:15+00:00Z,10Y1001A1001A83F,MAW,B02,3863.000000
2023-01-01 00:15:00+00:00,2023-01-01T00:15+00:00Z,2023-01-01T00:30+00:00Z,10Y1001A1001A83F,MAW,B02,3870.000000
2023-01-01 00:30:00+00:00,2023-01-01T00:30+00:00Z,2023-01-01T00:45+00:00Z,10Y1001A1001A83F,MAW,B02,3857.000000
2023-01-01 00:45:00+00:00,NaN,NaN,NaN,NaN,NaN,3861.666667
2023-01-01 01:00:00+00:00,NaN,NaN,NaN,NaN,NaN,3866.333333
2023-01-01 01:15:00+00:00,2023-01-01T01:15+00:00Z,2023-01-01T01:30+00:00Z,10Y1001A1001A83F,MAW,B02,3871.000000
2023-01-01 01:30:00+00:00,2023-01-01T01:30+00:00Z,2023-01-01T01:45+00:00Z,10Y1001A1001A83F,MAW,B02,3850.000000
2023-01-01 01:45:00+00:00,2023-01-01T01:45+00:00Z,2023-01-01T02:00+00:00Z,10Y1001A1001A83F,MAW,B02,3879.000000
2023-01-01 02:00:00+00:00,2023-01-01T02:00+00:00Z,2023-01-01T02:15+00:00Z,10Y1001A1001A83F,MAW,B02,3858.000000

In [14]:
# Get the first values of 'AreaID', 'UnitName', and 'PsrType'
first_values = df_test_reindexed.iloc[0][['AreaID', 'UnitName', 'PsrType']]

# Resample to hourly level and sum
df_resampled = df_test_reindexed.resample("1h", label="left").sum()

# Add the first values to the new resampled DataFrame
df_resampled[['AreaID', 'UnitName', 'PsrType']] = first_values

df_resampled

                           quantity            AreaID UnitName PsrType
2022-12-31 23:00:00+00:00    3876.0  10Y1001A1001A83F      MAW     B02
2023-01-01 00:00:00+00:00   11590.0  10Y1001A1001A83F      MAW     B02
2023-01-01 01:00:00+00:00   11600.0  10Y1001A1001A83F      MAW     B02
2023-01-01 02:00:00+00:00   15409.0  10Y1001A1001A83F      MAW     B02
2023-01-01 03:00:00+00:00   15366.0  10Y1001A1001A83F      MAW     B02
2023-01-01 04:00:00+00:00   15164.0  10Y1001A1001A83F      MAW     B02
2023-01-01 05:00:00+00:00   15252.0  10Y1001A1001A83F      MAW     B02
2023-01-01 06:00:00+00:00   15291.0  10Y1001A1001A83F      MAW     B02
2023-01-01 07:00:00+00:00   15132.0  10Y1001A1001A83F      MAW     B02
2023-01-01 08:00:00+00:00   15193.0  10Y1001A1001A83F      MAW     B02
2023-01-01 09:00:00+00:00   15241.0  10Y1001A1001A83F      MAW     B02
2023-01-01 10:00:00+00:00   15290.0  10Y1001A1001A83F      MAW     B02
2023-01-01 11:00:00+00:00   15437.0  10Y1001A1001A83F      MAW     B02
2023-01-01 12:00:00+00:00   16219.0  10Y1001A1001A83F      MAW     B02
2023-01-01 13:00:00+00:00   16288.0  10Y1001A1001A83F      MAW     B02
2023-01-01 14:00:00+00:00   16565.0  10Y1001A1001A83F      MAW     B02
2023-01-01 15:00:00+00:00   17039.0  10Y1001A1001A83F      MAW     B02
2023-01-01 16:00:00+00:00   17521.0  10Y1001A1001A83F      MAW     B02
2023-01-01 17:00:00+00:00   18397.0  10Y1001A1001A83F      MAW     B02
2023-01-01 18:00:00+00:00   18063.0  10Y1001A1001A83F      MAW     B02
2023-01-01 19:00:00+00:00   17867.0  10Y1001A1001A83F      MAW     B02
2023-01-01 20:00:00+00:00   18031.0  10Y1001A1001A83F      MAW     B02
2023-01-01 21:00:00+00:00   18214.0  10Y1001A1001A83F      MAW     B02
2023-01-01 22:00:00+00:00   18532.0  10Y1001A1001A83F      MAW     B02
2023-01-01 23:00:00+00:00   14162.0  10Y1001A1001A83F      MAW     B02

In [21]:
regions = {
    'HU': '10YHU-MAVIR----U',
    'IT': '10YIT-GRTN-----B',
    'PO': '10YPL-AREA-----S',
    'SP': '10YES-REE------0',
    'UK': '10Y1001A1001A92E',
    'DE': '10Y1001A1001A83F',
    'DK': '10Y1001A1001A65H',
    'SE': '10YSE-1--------K',
    'NE': '10YNL----------L',
}

reversed_regions = {v: k for k, v in regions.items()}

print(reversed_regions)

{'10YHU-MAVIR----U': 'HU', '10YIT-GRTN-----B': 'IT', '10YPL-AREA-----S': 'PO', '10YES-REE------0': 'SP', '10Y1001A1001A92E': 'UK', '10Y1001A1001A83F': 'DE', '10Y1001A1001A65H': 'DK', '10YSE-1--------K': 'SE', '10YNL----------L': 'NE'}

In [20]:
reversed_regions['10YHU-MAVIR----U']

'HU'